<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css">
	</head>
	<body>
		<div class="container">
			<div class="col-lg-12">
				<div class="well">
					<form method="post" action="/oauth/dialog/authorize/decision" class="form-horizontal">
						<div class="form-group">
							<input type="hidden" name="transaction_id" value="<%= transactionID %>">
							Hello, <%= user.username %>!<br>
							<%= client.title %> is requesting access to your account. Do you wish to allow this?<br>
							<input type="submit" class="btn btn-raised btn-primary" value="Allow" name="allow">
							<input type="submit" class="btn btn-raised btn-danger" value="Decline" name="decline">
						</div>
					</form>
				</div>
			</div>
			<div class="col-sm-6 well">fds</div>
		</div>
	</body>
</html>